body{
    background-color: rgb(238, 238, 238);
}
.table{
    position: absolute;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    left: 0;
    right: 0;
    border: solid;
}
.firstcolumn{
    display: inline-block;
    width: 15%;
}
.secondcolumn{
    vertical-align: top;
    display: inline-block;
    width: 70%;
}
.minitable{
    width: 100%;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    vertical-align: top;
}
.nameofgoods{
    margin-left: 7%;
}
.nameof_goods{
    margin-left: 2%;
}
.firstline{
    border-bottom: solid;
}
.firstline div{
    margin-top: 1.5%;
    display: inline-block;
    margin-bottom: 1.5%;
}
.priceform3{
    margin-left: 23%;
}
.priceforone{
margin-left: 2%;
}
.table{
    font-size: 18px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
}
.secondline div{
    margin-top: 1.5%;
    display: inline-block;
    margin-bottom: 1.5%;
}
.priceform3Brus{
    margin-left: 21.5%;
}
.priceforoneBrus{
    margin-left: 13%;
}
.thirdline div{
    display: inline-block;
}
.thirdline{
    margin-bottom: 1.5%;
}
.priceforoneBrus_4{
    margin-left: 12%;
}
.fourline div{
    display: inline-block;
}
.obrab{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight:bold;
    text-align: center;
}
.fline div{
    display: inline-block;
}
.total{
    vertical-align: top;
    margin-top: 77px;
}