.aboutComp{
    vertical-align: middle;
    font-size: 1.6vw;
    border: solid;
    border-color: #0c0a0a;
    color: #1a1a1a;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
}
.textComp{
    padding-left: 2%;
    display: inline-block;
    width: 60%;
}
.imageComp{
    margin-left: 1%;
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
.ourServices{
    font-size: 1.6vw;
    border: solid;
    border-color: #0c0a0a;
    color: #1a1a1a;
    margin-left: 1%;
    margin-right: 1%;
}
.blackline{
    height: 5px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #000000;
    margin-bottom: 10px;
}
.aboutcomp{
    position: relative;
}
.firstcolumn{
    font-size: 1.7vw;
    font-weight: 800;
    display: inline-block;
    margin-left: 20px;
}
.aboutend{
    margin-bottom: 1%;
}
.rightsq{
    margin-bottom: 3%;
}
.secondcolumn{
    font-size: 2vw;
    display: inline-block;
    font-weight: 800;
    margin-right: 2%;
    text-align: right;
    float: right;
}
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
}
.lastline{
    margin-left: 17%;
}
.textinbut{
    position: relative;
    width: 100%;
    left: 0%;
    top: 15%;
    height: 130px;
}
.textService{
    padding-top: 1%;
    padding-left: 2%;
    width: 60%;
    display: inline-block;
}
.hueta{
    margin-left: 2%;
}
.finallMasage{
    text-align: center;
}