.aboutComp{
    font-size: 1.6em;
    border: solid;
    border-color: #0c0a0a;
    color: #1a1a1a;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.textComp{
    text-align: center;
    padding-left: 2%;
    display: inline-block;
    width: 98%;
}
.imageComp{
    display: inline-block;
}
.ourServices{
    font-size: 1.6em;
    border: solid;
    border-color: #0c0a0a;
    color: #1a1a1a;
    margin-left: 1%;
    margin-right: 1%;
}